.w-5{
    width: 20%;
}
.w-4{
    width: 25%;
}
.w-3{
    width: 33.33%;
}
.w-2{
    width: 50%;
}
.w-1{
    width: 100%;
}

.d-none{
    display: none;
}

.mw{
width: 200px !important;
}
.transform{
    transform: translateY(-50%);
}

@media(max-width:1400px){
    .w-xxl-4{
        width: 25%;
    }
    .w-xxl-3{
        width: 33.33%;
    }
    .w-xxl-2{
        width: 50%;
    }
    .w-xxl-1{
        width: 100%;
    }
    .transform{
        transform: translateY(0%);
    }
}

@media(max-width:1399px){
    .w-xl-4{
        width: 25%;
    }
    .w-xl-3{
        width: 33.33%;
    }
    .w-xl-2{
        width: 50%;
    }
    .w-xl-1{
        width: 100%;
    }
  
}

@media(max-width:1199px){
    .w-lg-4{
        width: 25%;
    }
    .w-lg-3{
        width: 33.33%;
    }
    .w-lg-2{
        width: 50%;
    }
    .w-lg-1{
        width: 100%;
    }
    .w-lm{
        max-width: 840px;
        margin: auto;
    }
}

@media(max-width:992px){
    .w-md-4{
        width: 25%;
    }
    .w-md-3{
        width: 33.33%;
    }
    .w-md-2{
        width: 50%;
    }
    .w-md-1{
        width: 100%;
    }
    .w-md{
        max-width: 840px;
        margin: auto;
    }
    h3{
        font-size: 70px;
    }
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
    .flex-start{
        justify-content: start;
    }
}

@media(max-width:767px){
    .w-sm-4{
        width: 25%;
    }
    .w-sm-3{
        width: 33.33%;
    }
    .w-sm-2{
        width: 50%;
    }
    .w-sm-1{
        width: 100%;
    }
    .w-mw{
        max-width: 540px;
        margin: auto;
    }
    
}

@media(max-width:575px){
    .w-xs-4{
        width: 25%;
    }
    .w-xs-3{
        width: 33.33%;
    }
    .w-xs-2{
        width: 50%;
    }
    .w-xs-1{
        width: 100%;
    }
    .justify-xs-start{
        justify-content: start;
    }
}

@media(max-width:257px){
    .w-s-4{
        width: 25%;
    }
    .w-s-3{
        width: 33.33%;
    }
    .w-s-2{
        width: 50%;
    }
    .w-s-1{
        width: 100%;
    }
    
}



@media(max-width:991px){
    .sidebar{
        position: fixed;
        right: 0px;
        top:0px;
        background-color: white;
        box-shadow: 1px 1px 4px black;
        transition: all 0.5s linear;
        overflow: hidden;
        height: 100vh;
        z-index: 1000;
        width: 0px;
        padding-top: 20px;
    }
 
    .logo-none{
        padding: 0px 0px 20px 0px;
    }
    .column-lg{
       flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 10px;
        gap:15px
        
    }
    .column-lg a{
       width: 100%;
        border-bottom: 1px solid gainsboro;
    }
    .btn-close{
        background: transparent;
        border: none;
        font-size:30px;
        color:gray;
    }
    .dropdown-menu{
        background-color: white;
        z-index: 1100;
        position: relative;
        top: 0px;
        box-shadow: none;
        border: none;
        background-color: rgba(220, 220, 220, 0.308);
    }
}